In [1]:
print("hello world")

hello world

In [2]:
age = input("24")

24age

In [4]:
name = input("Abhishek sikarwar")

Abhishek sikarwarname

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
s=input('enter any word')
if keyword.iskeyword(s):
  print('your entered word is keyword in python')
else:
    print('your enterd word is not a keyword in python')

enter any wordhello
your enterd word is not a keyword in python

In [15]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [17]:
#tuples are immutable
tuple1=(0,1,2,3,)
tuple1[0]=4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [18]:
s="23"
num=int(s)
print(num)

23